* {
    margin: 0;
    padding: 9;
    box-sizing: border-box;
}

.body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(55, 121, 121);
    gap: 4rem;
}

.burger {
    position: relative;
    margin-bottom: -1.7rem;
    z-index: 9999;
}

.burger2 {
    z-index: -1;
}

.ummumiy {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 350px;
    height: 400px;
    background-color: rgba(108, 97, 97, 0.738);
    border-radius: 10px;
}


.buttons {
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

.buttons button {
    width: 100px;
    height: 30px;
    background-color: rgb(32, 32, 40);
    color: #fff;
    border-radius: 5px;
    border: none;
}


.reset {
    margin-left: 1rem;
    width: 110px;
    height: 40px;
    background-color: green;
    border: none;
    color: #fff;
}

.reset:active {
    background-color: red;
}


.btn {
    background-color: red;
    margin-top: 3rem;
    height: 40px;
    border: none;
    color: #fff;
}

.btn:active {
    background-color: green;
}


.control {
    /* position: relative; */
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    /* gap: -10px; */
    /* background-color: yellow; */
    /* margin-top: 100px; */
    /* min-height: 100px; */

}

.control img {
    /* margin-bottom: -10px; */
    /* height: 40px; */
    width: 100%;
    z-index: 4;
}

.control img:nth-child(1) {
    margin-bottom: -50px;
    z-index: 4;
}


.control img:nth-child(2) {
    margin-BOTTOM: -80px;
    z-index: 4;
}

.control img:nth-child(3) {
    margin-BOTTOM: -100px;
    z-index: 4;
}

.control img:nth-child(4) {
    margin-BOTTOM: -100px;
    z-index: 4;
}

.control img:nth-child(5) {
    margin-BOTTOM: -100px;
    z-index: 4;
}.control img:nth-child(6) {
    margin-BOTTOM: -100px;
    z-index: 4;
}.control img:nth-child(7) {
    margin-BOTTOM: -100px;
    z-index: 4;
}.control img:nth-child(8) {
    margin-BOTTOM: -100px;
    z-index: 4;
}.control img:nth-child(9) {
    margin-BOTTOM: -100px;
    z-index: 4;
}.control img:nth-child(10) {
    margin-BOTTOM: -100px;
    z-index: 4;
}.control img:nth-child(11) {
    margin-BOTTOM: -100px;
    z-index: 4;
}.control img:nth-child(12) {
    margin-BOTTOM: -100px;
    z-index: 4;
}.control img:nth-child(13) {
    margin-BOTTOM: -100px;
    z-index: 4;
}.control img:nth-child(14) {
    margin-BOTTOM: -100px;
    z-index: 4;
}.control img:nth-child(15) {
    margin-BOTTOM: -100px;
    z-index: 4;
}.control img:nth-child(16) {
    margin-BOTTOM: -100px;
    z-index: 4;
}.control img:nth-child(17) {
    margin-BOTTOM: -100px;
    z-index: 4;
}.control img:nth-child(18) {
    margin-BOTTOM: -100px;
    z-index: 4;
}.control img:nth-child(19) {
    margin-BOTTOM: -100px;
    z-index: 4;
}.control img:nth-child(20) {
    margin-BOTTOM: -100px;
    z-index: 4;
}.control img:nth-child(21) {
    margin-BOTTOM: -100px;
    z-index: 4;
}.control img:nth-child(22) {
    margin-BOTTOM: -100px;
    z-index: 4;
}.control img:nth-child(23) {
    margin-BOTTOM: -100px;
    z-index: 4;
}.control img:nth-child(24) {
    margin-BOTTOM: -100px;
    z-index: 4;
}.control img:nth-child(25) {
    margin-BOTTOM: -100px;
    z-index: 4;
}.control img:nth-child(26) {
    margin-BOTTOM: -100px;
    z-index: 4;
}.control img:nth-child(27) {
    margin-BOTTOM: -100px;
    z-index: 4;
}.control img:nth-child(28) {
    margin-BOTTOM: -100px;
    z-index: 4;
}.control img:nth-child(29) {
    margin-BOTTOM: -100px;
    z-index: 4;
}.control img:nth-child(30) {
    margin-BOTTOM: -100px;
    z-index: 4;
}

.pricr {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 4.5rem;
    color: #fff;
}
.pricr h2 {
    padding-bottom: 1rem;
}